<div class="bd-example">
  <div class="row">
    <div class="col-4">
      <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="employee._id">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" required (change)="log(employeeForm)" class="form-control" id="name" placeholder="Name"
            name="name" #name="ngModel" [(ngModel)]="employee.name">
        </div>
        <div class="form-group">
          <label for="position">Position</label>
          <input type="text" class="form-control" id="position" placeholder="Position" name="position"
            #position="ngModel" [(ngModel)]="employee.position">
        </div>
        <div class="form-group">
          <label for="office">Office</label>
          <input type="text" class="form-control" id="position" placeholder="Office" name="office" #office="ngModel"
            [(ngModel)]="employee.office">
        </div>
        <div class="form-group">
          <label for="salary">Salary</label>
          <input type="number" class="form-control" id="position" placeholder="Salary" name="salary" #salary="ngModel"
            [(ngModel)]="employee.salary">
        </div>
        <div>
          <button type="submit" [disabled]="employeeForm.invalid" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-primary" (click)="resetForm(employeeForm)">Reset</button>
        </div>
      </form>
    </div>
    <div class="col-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th scope="col">Office</th>
            <th scope="col">Salary</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of employeeService.employees; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{emp.name}}</td>
            <td>{{emp.position}}</td>
            <td>{{emp.office}}</td>
            <td>{{emp.salary}}</td>
            <td>
              <button mat-icon-button color="primary" (click)="onEdit(emp)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="onDelete(emp._id!, employeeForm)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- app.component.html -->
<div class="container text-center">

  <button mat-button (click)="openDialog('Add', {})" mat-flat-button color="primary">Add Row</button>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID. </th>
        <td mat-cell *matCellDef="let cc"> {{cc.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" class="action-link">
          <a (click)="openDialog('Update', element)">Edit</a> |
          <a (click)="openDialog('Delete', element)">Delete</a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>

  </div>

</div>